.buttonDiv {
   text-align: center;
   margin-top: 70px;
   margin-bottom: 30px;
}
.button {
   font-size: 20px;
   font-weight: 500;
   padding: 5px 15px;
   margin: 0px 20px;
   border: none;
   background: white;
}
@media only screen and (max-width: 767px) {
   .button {
      font-size: 16px;
      font-weight: 500;
      padding: 5px;
      margin: 0px 10px;
      border: none;
      background: white;
   }
 }
.button:focus{
   outline: none;
}
.selectedBtn{
   color: red;
   border-bottom: 3px solid red;
}
button.checkoutBtn {
   margin: 20px 0px;
   font-weight: 400;
   padding: 3px 30px;
   border-radius: 5px;
   background: #b6b6b6;
}